<div class="container">
        <%# <div id = "my_bookings" class = "container"> %>

  <h1>Your bookings!</h1>

    <% @my_bookings.each do |booking| %>

   <div class="card-product">
      <% if booking.pet.photo.attached? %>
          <%= cl_image_tag booking.pet.photo.key, height: 400 %>
      <% end %>

        <div class="card-product-infos">
        <h3><strong>Pet:</strong> <%= booking.pet.name%></h3>
        <h3><strong>Price:</strong> <%= booking.pet.price%></h3>
        <button class="btn btn-flat-index"><%= link_to "View Booking", booking_path(booking) %></button>
        </div>
   </div>
    <% end %>
</div>
