<div id = "my_bookings" class = "container">
  <div>
    <h1>Your bookings!</h1>
  </div>
  <div class="card-product" id = "pets">
    <% @my_bookings.each do |booking| %>
    <ul></ul>
   <li><%= image_tag("#{booking.pet.image_url}", :height => "400") %> </li>
    <div class="card-product-infos">
    <li> Pet: <%= booking.pet.name  %> </li>
    <li> Price: <%= booking.pet.price %></li>
   <% end %>
   </div>
   </div>
  </div>
</div>
