<div id = "my_bookings">
  <h3>Your bookings!</h3>
  <% @my_bookings.each do |booking| %>
  <ul></ul>
    <li> Pet: <%= booking.pet.name %> </li>
    <li> Price: <%= booking.pet.price %></li>
  <% end %>
</div>
