<div class="container">
  <div class="container">
  <h1>Welcome to Crazy Pets</h1>
  </div>


   <body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus id perspiciatis totam culpa deserunt vitae nihil, repudiandae, facere consequatur molestias nostrum. Ducimus asperiores doloremque, atque dolorum id modi omnis impedit?
   </body>
</div>
