.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#fb7d16, #f06305);
  transition: background 0.3s ease;
  border: 1px solid #fe7114;
}

.btn-gradient:hover {
  background: linear-gradient(#eba55e, #eba55e);
  color: white;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-bottom: 12px;
}

.btn-ghost {
  color: #ff8244;
  border: 1px solid #E67E22;
  padding: 8px 24px;
  border-radius: 50px;
  background: linear-gradient(#fb7d16, #f06305);
  font-weight: lighter;
  /* opacity: 0.6; */
  transition: opacity 0.3s ease;
}

.btn-ghost a {
  text-decoration: none;
  color: white;
}

.btn-flat-centered {
  color:white;
  font-weight: bold;
  background: #E67E22;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-bottom: 14px;
  align-items: center;
  margin: 0 auto;
  display: block;
}

.btn-flat-centered a {
  text-decoration: none;
  color: white;
}

.btn-flat-index {
  color: white;
  border: 2px solid #E67E22;
  background: linear-gradient(#fb7d16, #f06305);
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  margin-bottom: 12px;
}

.btn-flat-index a {
  text-decoration: none;
  color: white;
}

.btn-gradient a {
  text-decoration: none;
  color: white;
}
